= form_for wiki do |f|
  - if wiki.errors.any?
    .alert.alert-danger
      %h4
        = pluralize(wiki.errors.count, "error")
        \.
      %ul
        - wiki.errors.full_messages.each do |msg|
          %li= msg
  = form_group_tag(wiki.errors[:title]) do
    = f.label :title
    = f.text_field :title, class: 'form-control', placeholder: "Enter wiki title"
  = form_group_tag(wiki.errors[:body]) do
    = f.label :body
    = f.hidden_field :body, id: 'hidden_wiki_body'
    #epiceditor
      = f.text_area :body, rows: 8, class: 'form-control', id: 'wiki_body', placeholder: "Enter wiki body"
  - if current_user.premium? || current_user.admin?
    .form-group
      = f.label :private, class: "checkbox" do
        = f.check_box :private
        Private Wiki
  - else
    = f.hidden_field :private, id: 'hidden_wiki_private'
  .form-group
    = f.submit "Save", class: 'btn btn-success', onclick: 'update_data()'
:javascript
  var opts = {
    textarea: wiki_body,
    clientSideStorage: false,
    theme: { base: '../../../themes/base/epic_editor.css'
          , preview: '../../../themes/preview/github.css'
          , editor: '../../../themes/editor/epic-dark.css'
          }
  };
  var editor = new EpicEditor(opts).load();
  function update_data()
  {
    var hidden_wiki_body = document.getElementById('hidden_wiki_body');
    hidden_wiki_body.value = editor.getElement('editor').body.innerHTML;

    var hidden_wiki_private = document.getElementById('hidden_wiki_private');
    hidden_wiki_private.value = false;
  };
