%h1 Edit Wiki
%div
  = render partial: 'form', locals: {wiki: @wiki}
%br/
- if @wiki.private?
  %h4
    %em Collaborators
  %br/
  - if @wiki.owner == current_user || current_user.admin?
    %table
      - User.all.each do |user|
        %tr
          - collaborator = user.collaborates_on(@wiki.id)
          %td= user.email
          %td
            - if collaborator
              = link_to "Remove Collaborator", collaborator_path(collaborator), method: :delete, id: "userid-#{user.id}", remote: true
            - else
              = link_to "Add Collaborator", collaborators_path(collaborator: {user_id: user.id, wiki_id: @wiki.id}), method: :post, id: "userid-#{user.id}", remote: true
  - else
    - User.all.each do |user|
      - collaborator = user.collaborates_on(@wiki.id)
      - if collaborator
        = user.email
        |
