<h1>Edit Wiki</h1>
<div>
  <%= render partial: 'form', locals: {wiki: @wiki} %>
</div>
<br/>

<% if @wiki.private? %>
  <h4><em>Collaborators</em></h4>
  <br/>
  <% if @wiki.owner == current_user || current_user.admin? %>
    <table>
      <% User.all.each do |user| %>
        <tr>
          <% collaborator = user.collaborates_on(@wiki.id) %>
          <td><%= user.email %></td>
          <td>
            <% if collaborator %>
              <%= link_to "Remove Collaborator", collaborator_path(collaborator), method: :delete %>
            <% else %>
              <%= link_to "Add Collaborator", collaborators_path(collaborator: {user_id: user.id, wiki_id: @wiki.id}), method: :post %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <% User.all.each do |user| %>
      <% collaborator = user.collaborates_on(@wiki.id) %>
      <% if collaborator %>
        <%= user.email %>|
      <% end %>
    <% end %>
  <% end %>
<% end %>
